@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1a1e3f;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overscroll-behavior: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
}

* {
  backface-visibility: hidden;
  will-change: transform;
}
